* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: roboto;
    font-weight: 900;
}

.container-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em;
}

input[type="number"],
#num_obj {
    width: 220px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#num_obj {
    background-color: #bcbcbc;
    font-weight: bold;
}

.container-full {
    width: 100%;
    min-height: 300px;
    display: flex;
    background: #eee;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex: 1;
}

.balls{
    position: absolute;
    border-radius: 100px;
}
